/* styles/app.css */
body {
  background-color: #f0f0f0; /* Establece el color de fondo de toda la página */
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el relleno por defecto */
  height: 100%;
  font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
}

/* Para el contenedor root */
#root {
  height: 100%; /* Asegura que cubra toda la altura de la ventana */
}